.footer {
  grid-area: footer;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;

  &__list {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
  }
  &__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #888;
    &:hover {
      color: gold;
    }
  }
}
.active {
  color: goldenrod;
}
